<br />

<div class="frosty text-center col-xs-12">
  <h1><%= @course.title %></h1>
  <br />
  <div class=" text-center col-sm-6 col-xs-12">
    <h1><%= @course.description %></h1>
  </div>

  <div class="clear"></div>
  <div class="text-right col-sm-6 col-xs-12">
   	<span class="label label-default">
   		<h3><%= number_to_currency @course.cost %></h3>
  	</span>
  </div>
</div>  
  
<% if current_user && current_user == @course.user %>
    <br />
    <br />
    <%= link_to "Administer", instructor_course_path(@course), :class => 'btn btn-default btn-large' %>
<% end %>