<h1>Ready to Learn?</h1>
<h1>Would you like to</h1>
<href = '#'><Take a class?></href>
<href = '#'><Teach a class?></href>

<p>Great, let's take the first step...

	<href = '#'>Create an account</href>
	<href = '#'>Sign in</href>

<div class="footer">
	<li>See all classes</li>
	<li>Enroll in a class</li>
	<li>Create a class</li>
	<li>My dashboard</li>
	<li>Sign out</li>
</div>